*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    .girl {
        z-index: -10;
        position: absolute;
        width: 100%;
        height: 750px;
    }
    .black_girl {
        position: absolute;
        width: 100%;
        height: 750px;
        z-index: -8;
        background-color: rgba(0, 0, 0, 0.4); 
    }
    .container {
       max-width: 1300px;
       margin: 0 auto;
       padding: 30px;
    }
    body {
        background-color: white;
        min-height: 100vh;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-between
    }
    .header_login {
        display: flex;
        align-items: center;
        gap: 20px;
    
    }
    .Register {
        padding: 7px 15px;
        z-index: 3;
        border: 2px solid none;
        border-radius: 10px;
        color: rgb(228, 158, 28);
        font-weight: bold;
        cursor: pointer;
        background-color: white;
        font-size: 17px;
        position: relative;
    }
    .Register::before {
   content: "";
    position: absolute;
    background: #2d2c2c;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 0.5s  ;
    z-index: -1;
    border-radius: 10px;
    }
    .Register:hover::before{
        width: 100%;
    }
    .Login {
        color: white;
        text-decoration: none;
        font-size: 17px;
    }
    .search {
        cursor: pointer;
        color: white;
        font-size: 19px;
    }
    .search:hover {
        color: rgb(221, 221, 249);
    }
    nav ul {
        display: flex;
        list-style: none;
        gap: 60px;
        font-size: 17px;
    }
   nav ul li a:hover {
    color: rgb(245, 239, 161);
    transition: all 0.4s ease;
    }
  nav ul li:hover {
    transform: translateY(-4px);
    transition: all 0.4s ease;
  }
    .name {
        color: orange;
        font-weight: 200px;
        font-size: 23px;
        cursor: pointer;
    }
    .name:hover {
        color: rgb(247, 81, 81);
        transition: all 0.3s ease-out;
    }
    ul a {
        text-decoration: none;
        color: aliceblue;
    }
    main{
        margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
   .Text_content {
    font-size: 90px;
    color: white;
    font-weight: bold;

   }
   .content {
    color: white;
    max-width: 1000px;
    padding: 20px;
    text-align: center;
   }
   .Text_content2 {
    font-size: 20px;
   }
   .start1{
    margin-top: 95px;
   }
   .start {
    padding: 30px 80px;
border-radius: 5px;
    border: 2px solid  none;
    background-color: orange;
    font-size: 23px;
   }
   .start:hover {
    background-color: white;
    color: orange;
    transition: all 0.4s ease-in-out;
   }
    .main_three {
       display: flex;
       justify-content: center;
       align-items: center;
    
    }
    .three_acc {
        margin-top: 100px;
        height: 170px;
       width: 900px;
       background-color: rgb(255, 255, 255);
       padding: 70px;
       display: flex;
       gap: 70px;
       justify-content: center;
       align-items: center;
       border-radius: 10px;
       box-shadow: 3px 5px 5px 0 rgb(240, 240, 240);
    }
    .icon:hover {
        animation: shake 1.7s infinite;
    }
    @keyframes shake {
        0% { transform: rotate(0deg); }
        25% { transform: rotate(-20deg); }
        50% { transform: rotate(10deg); }
        75% { transform: rotate(-10deg); }
        100% { transform: rotate(0deg); }
      }
    .all_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        
    }
    .icon {
        height: 80px;
        width: 80px;
        border: 2px solid none; 
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: orange;
        background-color: rgb(255, 246, 230);
    }
    .icon i {
        font-size: 25px;
    }
.three_acc p {
    font-size: 20px;
}
 .top {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 100px;
    font-size: 60px;
 }
  .img_container {
  position: relative;
  display: flex;
  overflow: hidden;
  gap: 20px;
  justify-content: center;
  padding: 40px;
  
  }
  .img_div {
    position: relative;
    width: 240px;
    overflow: hidden;
    height: 400px;
    border-radius: 8px;
  }
  .img_div:hover {
   transform: scale(1.05);
  }
  .img_div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .title_card {
    position: absolute;
  bottom: 16px;
  left: 16px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  }
  .left {
    left: 15px;
  }
  .right {
    right: 15px;
  }
  .key {
    border-radius: 100%;
    position: absolute;
    top: 50%;
    background-color: rgb(236, 188, 99);
    border: none;
    color: white;
    width: 70px;
    height: 70px;
    font-size: 25px;
    cursor: pointer;
    z-index: 100;
  }
  .key:hover {
    transform: scale(1.1);
  }
  .see {
text-align: center;
padding-left: 900px;
  }
  .see_all {
    color: orange;
    font-size: 30px;
  }